.jumbotron {
  background: #9575CD;
  color:floralwhite;
  min-height: 150px;
}
.heading{
  text-align: center;
}
.flex-spacer {
  flex: 1 1 auto;
}
.background-primary {
  background-color: #512DA8;
}
.background-accent {
  background-color: #FFC107;
}
.text-floral-white {
  color: floralwhite!important;
}
